html{
    margin: 0px auto;
    width: 100%;
    background-color: black;
    height: 100%;
}
body{
    margin:10px auto;
    width: 88%;
    border-radius: 5px;
}
/*主内容的style*/
#content{
    margin: 0px auto;
    width: 80%;
    font-family: Georgia;
    font-size: 15px;
}
/*底部的style*/
.copyright{
    padding-top: 10px ;
    padding-bottom: 10px;
    text-align: center;
}
