{#  该文件是主页  #}
{% extends "base.html" %}
{% block title %}
首页
{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for("static",filename="css/index.css") }}">
{% endblock %}
{% block content %}
{#  各板块展示 #}
  {% if movies %}
    {% for key,value in movies.items() %}
      <div id="big_item" class="list-group">
          <a href="{{ url_for('category',type=key,category=key,page_num=1) }}" class="list-group-item active">
          {% if key=="new_movie" %}
            最新电影
           {% elif key=="gn_tv" %}
            华语电视剧
            {% elif key=="rh_tv" %}
            日韩电视剧
            {% elif key=="om_tv" %}
            欧美电视剧
            {% endif %}
            <span class="badge">查看更多</span>
          </a>
          {% for v in value %}
            <a href="#" class="list-group-item">
            {% if v["update_time"] %}
            <span class="badge">{{ v["update_time"] }}</span>
              {% else %}
              <span class="badge">暂无更新时间</span>
            {% endif %}
            {{ v["movie_name"] }}
            </a>
        {% endfor %}
      </div>
    {% endfor %}
  {% else %}
    <p></p>
  {% endif %}

{% endblock %}